<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <meta name="author" content="Angela Peña Huertas">
    <meta name="contenido" content="Autobiografía">
    <link rel="icon" href="../assets/imagenes/Familia.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/styleIndex.css">
</head>
<body>
    <header>
        <div class="cabecera">
            <div class="principal">
                <a href="../index.html"><h1>¿Quién soy?</h1></a>
            </div>

            <div class="opFamilia">
                <nav>
                    <ul>
                        <li><a href="./hobbies.html">hobbies</a></li>
                        <li class="opFamilia-select"><a href="./familia.html" class="colorAzul">Familia</a></li>
                    </ul>
                </nav>
            </div>
        </div>    
    </header>

    <main>
        <section class="infoFamilia">
            <h2>Familia</h2>
            <p>Mi familia es muy unida, hablamos constantemente y nos gusta estar juntos.</p>
                <h3>Sobre mi familia:</h3>
                <img src="/assets/imagenes/Familia.jpeg" alt="Mi familia">        
            <p>Mi nucleo familia se conforma por: <br> 
            <ul>
                <li><P>Mi papá: Su nombre es Luis Angel Peña.</P> <br><img src="../assets/imagenes/Papá.jpeg" alt="foto de mi padre"></li>
                <li><P>Mi mamá: Su nombre es Gladys Huertas. </P> <br><img src="../assets/imagenes/mamá.jpeg" alt="foto de mi madre"></li>
                <li><p>Mi gata: Su nombre es Pacha.</p> <br><img src="../assets/imagenes/pacha.jpeg" alt="foto de mi gata"></li>
                <li>y mi persona</li>
                <li>Tambien tengo 3 hermanos mayores que me llevan varios años por lo que viven en otras partes.</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>
        Página realizada por Angela Peña Huertas. &copy; Todos los derechos reservados
        </p>
    </footer>
</body>
</html>