<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <meta name="author" content="Angela Peña Huertas">
    <meta name="contenido" content="Autobiografía">
    <link rel="icon" href="../assets/imagenes/libros.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../styles/styleIndex.css">
</head>
<body>
        <header>
            <div class="cabecera">
                <div class="principal">
                        <a href="../index.html"><h1>¿Quién soy?</h1></a>
                </div>

                <div class="opHobbies">
                    <nav>
                        <ul>
                            <li class="opHobbies-select"><a href="./hobbies.html" class="colorAzul">hobbies</a></li>
                            <li><a href="./familia.html">Familia</a></li>
                        </ul>
                    </nav>
                </div>
            </div>    
        </header>

    <main>
        <section class="infoHobbies">
            <h2>Hobbies</h2>
                <h3>Sobre mis Hobbies:</h3>     
                    <p>Soy una persona sedentaria, pero estoy en pasos a practicar deporte, por el momento estoy asistiendo al gimnacio.</p>
                    <p>Me gusta mucho leer, Actualmente estoy leyendo:</p> 
                        <ul>
                            <li><P>El mejor vendedor del mundo de: Og mandino.</P></li>
                            <li><P>Organízate con eficacia de: David Allen.</P></li>
                        </ul>
                    <p>Tambien me gusta el diseño web y me gusta practicar lo que aprendo.</p>
                    <img src="../assets/imagenes/diseño.jpg" alt="imagen de diseño web">        
        </section>
    </main>
    
        <footer>
            <p> Página realizada por Angela Peña Huertas. &copy; Todos los derechos reservados</p>
        </footer>
</body>
</html>